<div class="container">
  <h1>Upcoming Club Meetings</h1>

    <% @events.each do |event| %>
      <ul>
        <li>Speaker name: <%= event.speaker_name %></li>
        <li>Speaker bio: <%= event.speaker_bio %></li>
        <li>Speech topic: <%= event.speech_topic %></li>
        <li>Date and time: <%= event.date_time %></li>
        <li>Location: <%= event.location %></li>
      </ul>
    <% end %>

</div>
