<!DOCTYPE html>
<html>
  <head>
    <title>Charlotte Rotary International</title>
     <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <%= yield %>

    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">About Charlotte International Rotary Club</h5>
            <p class="grey-text text-lighten-4"> The mission of Rotary Internatinoal is to create Culture understandings, bring awareness to international causes, and develop personal and professional relationships.</p>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Connect</h5>
            <ul>
              <li><span class="white-text">Charlotte International Rotary Club<br>
              P.O. Box 473663<br>
              Charlotte, NC 28247
              </li>
              <li class="white-text"><i class="material-icons">contact_phone</i> 704-770-1773</li>
              <li><a class="white-text" href="#!">Link 3</a></li>
              <li><a class="white-text" href="#!">Link 4</a></li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Connect</h5>
            <ul>
              <li><a class="white-text" href="#!">Link 1</a></li>
              <li><a class="white-text" href="#!">Link 2</a></li>
              <li><a class="white-text" href="#!">Link 3</a></li>
              <li><a class="white-text" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        Made by <a class="brown-text text-lighten-3" href="http://meaghanjones.com">Meaghan Jones</a>
        </div>
      </div>
    </footer>
  </body>

</html>
